.img-card-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 2rem;
}

.img-card-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 2rem;
}

.img-card-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}